name: Build all docker containers and push to Dockerhub

on: push

jobs:
    BuildAllContainers:
        strategy:
            matrix:
                container:
                    - create_ca
                    - describe_ca
                    - create_cert
                    - describe_cert
        uses: ./.github/workflows/build_single_container.yaml
        with:
            container: ${{ matrix.container }}
        secrets:
            DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
            DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
